.root{
    background-color: #90f2ff;
    width: 100%;
    min-height: 100vh;
}
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.logo_col{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}