
.table{
    margin:1rem 0;
    width: 100%;
}
.summary{
    font-size: .8rem;
    margin-bottom: 3rem;
    color:#fff
}
.row{
    background-color: #6eb6ff!important;
    cursor: pointer;
    font-size: .6rem;
}
@media only screen and (min-width:768px) {
   .row{
    font-size: 1rem;
   }
   .summary{
       font-size: 1.2rem;
   }
}