.box {
    background-color: #252424;
    color: #fff;
    padding: 1rem;
}
.txt{
    font-size: .7rem;
    text-align: center !important;
}
.call{
    font-size: .7rem;
}
.icon_contain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin-top: 1.5rem;
}

.insta {
    color: rgb(226, 49, 88)
}
.insta:hover{
    color: rgb(255, 21, 72)
}

.linke {
  color: rgb(0, 97, 189)

}

.whats {
    color: rgb(23, 219, 33);
}
.whats:hover{
    color: rgb(11, 255, 24);
}
@media only screen and (min-width:576px) {
    .txt{
        font-size: .9rem ;
    }
    .icon_contain{
        font-size: 1.7rem;
    }
    
}
@media only screen and (min-width:768px) {
   
    .txt{
        font-size: 1.1rem ;
    }
    .icon_contain{
        font-size: 2.5rem;
    }
}
