.row{
    min-height: 90vh;
    width: 100%;
    margin:3rem 0
}
.col{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    background-color: #6eb6ff;
    width: 90%;
    border-radius: .25rem;
    padding:2rem 1rem;
    margin: 1rem 0;
}
.pro{
    margin-top:2rem ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.head{
    color: #fff;
    font-size: 1rem;
}
.txt{
    font-size: .8rem;
    color: #fff ;
}
@media only screen and (min-width:576px) {
    .head{
        font-size: 1.1rem;
    }
    .txt{
        font-size: 1rem ;
    }
    .pro{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}
@media only screen and (min-width:768px) {
    .head{
        font-size: 1.5rem;
    }
    .txt{
        font-size: 1.2rem ;
    }
}
