.card{
    background-color: #6eb6ff;
    padding: 1rem .5rem;
    width: 250px !important;
    color: #fff;
    font-size: .8rem;
    border-radius: .5rem;
    margin: 1rem 0;
    text-align: center !important;
}
.img{
    height: 80px;
    width: 100px;
    margin: 0 auto;
}
.txt{
    margin: .5rem 0;
}
@media only screen and (min-width:576px) {
    .card{
        width: 300px !important;
        font-size: 1rem;
    }
    .img{
        height: 100px;
        width: 130px;
    }
}
@media only screen and (min-width:768px) {
    .card{
        width: 400px !important;
        font-size: 1..3rem;
    }
    .img{
        height: 150px;
        width: 180px;
    }
}