@font-face {
  font-family: 'sahel';
  src: url("../public/fonts/Sahel.woff") format('woff');
}
html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family:'sahel', BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'sahel',Arial, Helvetica, sans-serif;
}
